<form method="post">
    <div class="panel dux-box">
       <div class="table-responsive">
        <table id="table" class="table table-hover ">
            <tbody>
                <tr>
                    <th width="*">备份文件</th>
                    <th width="120">操作</th>
                </tr>
                <!--loop{$list as $vo}-->
                <tr>
                  <td>{$vo.name}</td>
                  <td> <a class="button bg-blue button-small icon-share-square-o js-action" url="{:U('import')}" href="javascript:;" data="{$vo.time}"  title="还原"></a>
                       <a class="button bg-red button-small icon-trash-o js-del" href="javascript:;" data="{$vo.id}" title="删除"></a></td>
                </tr>
                <!--{/loop}-->
            </tbody>
        </table>
        </div>
    </div>
</form>
<script>
Do.ready('base',function() {
	$('#table').duxTable({
		deleteUrl: "{U('del')}"
	});
});
</script>