body {
    background-color: #fff;
    font-family: "Helvetica Neue", "Hiragino Sans GB", Helvetica, "Microsoft YaHei", "微软雅黑", "宋体", Arial, sans-serif;
}
/* 后台框架 */

.dux-head {
    height: 40px;
    background-color: #2d3e50;
    z-index: 1000;
    position: fixed;
    width: 100%;
}
.dux-head .dux-logo {
    float: left;
    width: 200px;
    height: 40px;
    line-height: 20px;
    text-align: center;
    background-color: #3190ee;
}
.dux-head .dux-logo img {
    padding-top: 3px;
}
.dux-head .nav-inline {
    border: none;
}
.dux-head .nav-inline>li>a {
    color: #ccc;
    padding: 10px 20px;
    border-radius: 0;
}
.dux-head .nav-inline>li>a:hover,
.dux-head .nav-inline>.active>a {
    background-color: #34495e;
    color: #ddd;
    font-weight: normal;
}
.dux-head .nav-inline li .dux-logout {
    background-color: #e33;
    color: #fff;
}
.dux-head .nav-inline li .dux-logout:hover {
    background-color: #c72525;
    color: #fff;
}
.dux-head .nav-tool {
    float: right;
    position: relative;
    right: 0;
    top: -40px;
}
.dux-head .nav-tool .drop-menu {
    right: 0;
    left: auto;
}
.dux-sidebar {
    width: 200px;
    position: fixed;
    top: 40px;
    bottom: 0;
    background-color: #eef1f8;
    border-left: none;
    border-right: none;
    overflow-y: auto;
    border-right: 1px solid #c1d1dc;
}
.dux-sidebar .nav-head {
    padding-left: 10px;
    font-size: 16px;
    line-height: 50px;
    height: 50px;
    color: #444;
    font-weight: normal;
}
.dux-sidebar .nav li {
    position: relative;
}
.dux-sidebar .nav li a {
    padding: 10px;
    color: #333;
}
.dux-sidebar .nav li a::before {
    margin-right: 5px;
}
.dux-sidebar .nav li a:hover,
.dux-sidebar .nav .active a {
    background-color: #d9e2ec;
    color: #444;
    font-weight: normal;
}
.dux-bread {
    position: fixed;
    left: 200px;
    top: 40px;
    height: 30px;
    line-height: 30px;
    right: 0;
    background-color: #f3f6fb;
    border-bottom: 1px solid #d5dade;
    padding: 0px 10px;
    padding-right: 0;
}
.dux-tools {
    background-color: #f7f8fa;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #dbe7ef;
    padding: 10px 20px;
    margin-left: -20px;
    margin-right: -20px;
    margin-top: -20px;
}
.dux-tools .button {
    font-size: 14px;
}
.bread-head {
    font-size: 16px;
}
.bread-head .small {
    font-size: 12px;
    padding-left: 10px;
}
.dux-bread .bread {
    padding: 0;
    margin: 0;
}
.tools-function {} .dux-admin {
    position: fixed;
    left: 200px;
    top: 70px;
    right: 0;
    bottom: 0;
    overflow: auto;
    background-color: #eff3f6;
    padding: 20px;
}
@media (max-width: 759px) {
    .dux-admin,
    .dux-tools,
    .dux-bread,
    .dux-sidebar {
        position: static !important;
        width: 100%;
    }
    .dux-head {
        height: auto;
        position: relative;
    }
    .dux-head .dux-logo {
        float: none;
        width: 100%;
        height: 45px;
    }
    .dux-head .admin-nav {
        float: none
    }
    .dux-head .nav-tool {
        display: none;
    }
    .dux-logo .button {
        position: absolute;
        top: 5px;
        border: none;
        color: #fff;
        border-radius: 0;
    }
    .dux-logo .button:hover,
    .dux-logo .button:focus {
        background-color: #0292ce
    }
    .admin-nav-btn {
        left: 5px;
    }
    .admin-menu-btn {
        right: 5px;
    }
    .table-foot .float-left,
    .table-foot .float-right {
        float: none !important;
    }
}
.dux-dashboard {
    
}
.dux-dashboard .media-body {
    padding: 13px;
    white-space:nowrap;
    overflow: hidden;
    padding-left: 0;
}
.dux-dashboard .media-body h2 {
    font-size: 25px;
}
.dux-dashboard .dashboard-head {
    width: 90px;
    height: 80px;
    line-height: 80px;
    font-size: 36px;
    border-radius: 0;
}
/* 覆盖类 */

.drop-menu {
    border-color: #ccc !important;
    border-radius: 0 !important;
    box-shadow: none !important;
}
.panel-head {
    background-color: #f9fafc;
    border-radius: 0;
}
.panel-foot {
    background-color: #f9fafc;
}
.button {
    border-radius: 0;
}
.table-border tr td:first-child {
    border-right: 3px solid #eeeeee;
}
.table-border tr th:first-child {
    border-right: 3px solid #ffd19d;
}
.table-border > tbody > tr:nth-child(odd) > td:first-child,
.table-striped > tbody > tr:nth-child(odd) > th:first-child {
    border-right: 3px solid #d7f2c9;
}
.table thead {
    margin-bottom: 10px;
}
.table th {
    border-bottom: 1px;
    padding: 10px 8px;
    background-color: #f9fafc;
}
.table td {
    vertical-align: middle;
}
.alert {
    margin-bottom: 20px;
    border-radius: 0;
}
.button.bg-main {
    background-color: #0081e6;
    border-color: #1d70d8;
}
.button.bg-main:hover {
    background-color: #007bd8;
    border-color: #1d70d8;
}
.alert-yellow {} .tab .tab-body {
    border: 1px solid #ddd;
}
/* 通用类  */

.js-chart {
    position: relative;
}
.js-chart .percent {
    width: 100%;
    position: absolute;
    text-align: center;
    display: inline-block;
    line-height: 60px;
}
#myChart {
    height: 215px;
}
.table-tools {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}
.table-foot .input {
    border-radius: 0;
    padding: 4px;
    height: 30px;
}
.dux-box {
    background-color: #fff;
    border-radius: 0;
}
.dux-panel {
    margin-left: -20px;
    margin-right: -20px;
    border: none;
}
.dux-panel .panel-head {
    background-color: #eff3f6;
    border: none;
}
.dux-panel .panel-body {
    border: 1px solid #dbe7ef;
    border-left: none;
    border-right: none;
}
.dux-tab .tab-head {
    padding: 0;
}
.dux-tab .tab-head strong {
    padding: 5px 10px;
    line-height: normal;
    padding-left: 0;
    padding-right: 20px;
}
.dux-tab .tab-nav {} .dux-tab .tab-nav li a {
    border: none;
    background-color: none;
    padding: 5px 10px;
    line-height: normal;
    border-radius: 0;
}
.dux-tab .tab-nav .active a {
    background-color: #0081e6;
    color: #fff;
}
.dux-tab .tab-body {
    border: none;
    padding: 20px;
}
.dux-form {} .dux-form .form-group {
    padding-bottom: 20px;
}
.dux-form .form-group .label label {
    font-weight: normal;
}
@media (min-width: 760px) {
    .dux-form .form-group .label {
        padding-right: 20px;
    }
}
.dux-multi-image .sortable-placeholder {
    display: inline-block;
    width: 110px;
    height: 147px;
    border: 1px dashed #ccc;
    margin-right: 15px;
}
.dux-multi-image .sortable-dragging {
    display: inline-block;
}
.dux-multi-image .media {
    background-color: #f1f1f1;
    border: 1px solid #ddd;
    padding: 5px;
}
.dux-multi-image .media img {
    width: 100px;
    height: 100px;
}
.dux-multi-image .media .input {
width: 100px;}