.g-ft
{
	padding: 10px;
	padding-left: 200px;
	background: #F2F2F2;
	margin-top: 10px;
}

#footWrap p
{
margin-top: 5px;
text-align: center;
font-size: 16px;
font-family: "SimHei",Arial;
color: #000;
}

#footWrap p span
{
margin-left: 10px;
}

.metafoot span
{
	font-size: 10px;
}