#head{
	width:1000px;
	height:100px;
	margin:0 auto;
}

	#logo{
		width:328px;
		height:81px;
		float:left;
		margin-top:10px;
		background:url(../images/logo.png) no-repeat center;
		background-repeat: none;
	}

#subtitle
{
	float: left;
	margin-top: 40px;
	margin-left: 30px;
}

#subtitle span
{
	font:35px bold;
	font-family:宋体,arial,sans-serif;
	font-weight: 900;
}

	#search{
		width:300px;
		height:50px;
		text-align:right;
		float:right;
		margin-top:30px;
	}

		#search p{
			color:#025C98;
			font-size:12px;
			line-height:100%;
			vertical-align:middle;
			margin-top:10px;  
			margin-left: 165px;
		}
			#search p a{
				margin: 0px 5px;
			}

		#search img{
			border:none;
			display:inline;
		}

		#search form{
			display:inline-block;
		}

		#search #searchLink{
			margin-left:10px;
			margin-bottom:20px;
		}

		#searchKeyword{
			float:left;
			height:30px;
			margin-left:40px;
		}

		#searchKeyword table{
		}

		#searchKeyword .searchIcon{
			margin-left:10px;
			margin-bottom:20px;
		}

		#search input{
			background-image: url(../images/search.jpg);  
			background-repeat: no-repeat;  
			background-position: left top;
			border:1px solid #d5dee9;  
			padding-left:22px;
			height:20px;
		}

		#search a{
			font-size:12px;
			text-decoration:none;
			height:100%;
			color:#025C98;
		}

		#keyword{
			height:40px;
		}

		#keyword input{
			margin-top:8px;
		}
