.g-bd
{
	padding-left: 200px;
}

#bodyRight{
	width: 900px;
	float:left;
	background-color:#f7f7f7;
	position:relative;
	margin-top: 20px;
}

#sidebar
{
	float:left;
	width: 100px;
	height: 200px;
}

#margin-top
{
	margin-top: 20px;
}

a{
	color:#5e5e5e;
}
a:hover{
	color:red;
}

h2{
	font-family: "SimHei",Arial;
	color: #005da0;
}

.newsTitle{
			width:100%;
			height: 30px;
			margin-top: 10px;
			overflow: hidden;
		}
.newsTitle .right{
				height: 27px;
				line-height: 27px;
				border-bottom: 3px solid #eeaf79;
			}
.newsTitle h2{
					float: left;
					margin-left: 15px;
				}
.newsTitle a{
					margin-right:8px;
					font-size:12px;
					color:#7c7c7c;
					float:right;
				}
.newsList{
			height: 300px;
			padding-top: 3px;
		}

.focus{
		margin-left: 20px;
		margin-top: 10px;
		width:430px;
		min-height:200px;
		float: right;
		z-index:10;
		position:relative;
	}

		.focusList{
			height: 200px;
			padding-top: 3px;
		}

		.focus .focusRight{
			height: 27px;
			line-height: 27px;
			border-bottom: 3px solid #e74b3c;
		}

.focus .focusList p{
				margin:0;
				margin-left:15px;
				display:block;
				height:30px;
				line-height:30px;
				font-size:12px;
				color: red;
				border-bottom:dashed 1px #CCCCCC;
			}
.focus .focusList img{
					margin-right:10px;
					margin-top:10px;
				}

.focus span{
					float:left;
					margin-left:5px;
				}
.focus #time{
					float:right;
					margin-right:10px;
					color: #295279;
				}

#sidebar
{
	overflow: hidden;
	height: 420px;
	padding-top: 3px;

	margin-top: 20px;
}

#sidebar span
{
	font-size: 100%;
	font-weight: normal;
	font-family: "SimHei",Arial;
	color: #005da0;
	margin-bottom: 10px;
	display: block;
}

#sideul
{
	font-family: "Microsoft YaHei";
	float: left;
	width: 100px;
	min-height: 340px;
	background: #005da0;
	vertical-align: middle;
	padding-top: 20px;
}

#sideul li
{
	height: 30px;
	line-height: 30px;
	text-align: center;
}

#sideul li a
{
	text-decoration: none;
	font-size: 14px;
	color: #FFF;
}

#sideul .selected
{
	background: #F2F2F2;
	color: #005da0;
}


#sideul .selected a 
{
	color: #005da0;
}

#picScrollWrap
{
	float:left;
	width:1000px;
}

#picScroll
{
	float: left;
	height: 120px;
	overflow: hidden;
	width:100%;
	background: #F2F2F2;
}

#picScroll span
{
	font-size: 100%;
	font-weight: normal;
	font-family: "SimHei",Arial;
	color: #005da0;
	margin-bottom: 10px;
	display: block;
}

#picScroll td a
{
	margin-left: 10px;
}

#picScroll img
{
	width: 120px;
	height: 100px;
}

.g-ft
{
	padding: 10px;
	padding-left: 200px;
	background: #F2F2F2;
	margin-top: 10px;
}

#footWrap p
{
margin-top: 5px;
text-align: center;
font-size: 16px;
font-family: "SimHei",Arial;
color: #333333;
}

#footWrap p span
{
margin-left: 10px;
}