.navBar a,a:visited{
	text-decoration:none;
}
.navBar{
	height:43px;
	margin:0 auto;
	background:url(../images/nav_bg.jpg) repeat-x;
}

.nav{
	width:1000px;
	margin:0 auto;
	z-index:100;
}

.clearfix{
	margin-left: 35px;
}

.clearfix>li{
	border-left:1px solid #0089b9;
	border-right:1px solid #0071a9;
	z-index:100;
}

.nav li{
	float:left;
	height:39px;
	padding:0 3px 0 2px;
	position:relative;
}
.nav li.last{
	background:none;
}

.nav li a{
	float:left;
	display:block;
	padding:0 0 0 4px;
	height:39px;
	overflow:hidden;
}

.nav li a span{
	float:left;
	display:block;
	padding:0 4px 0 0;
	line-height:39px;
	font-size:14px;
	color:#fff;
	font-weight:800;
	cursor:pointer;
	width:90px;
	text-align:center;
}

.nav li.selected .submenu
{
	display:block;
}
.nav li .submenu
{
	display:none;
	position:absolute;
	top:39px;
	left:0px;
}
.nav li .submenu{
	border-style:solid;
	z-index:100;
	border-width:0px 1px 1px 1px;
	border-color:#ddd;
	padding:0 5px 5px 5px;
	width:90px;
	background:#006ea5;
	filter:alpha(opacity=80);
}
.nav li .submenu
{
	-moz-border-radius:0 0 3px 3px;
	-webkit-border-radius:0 0 5px 5px;
	border-radius:0 0 3px 3px;
	-moz-box-shadow:0 5px 5px #D3D3D3;
	-webkit-box-shadow:0 5px 5px #D3D3D3;
	box-shadow:0 5px 5px #D3D3D3;
}
.nav li .submenu li
{
	float:none;
	padding:0;
	background:none;
	height:auto;
	border-top:dotted 1px #BEBEBE;
}
.nav li .submenu li.last{
	border:none;
}
.nav li .submenu li a{
	color:#FFF;
	float:none;
	font-size:14px;
	padding:0;
	text-align:center;
	height:28px;
	line-height:28px;
	background:none;
}
.nav li .submenu li a:hover{
	font-weight:800;
}

.navSelected{
	background:#006ea5;
}

/*国庆主题*/
.style-1.navBar{
	background-image:none;
	background-color:#fd3535;
}

.style-1 .clearfix>li{
	border-left:0px;
	border-right:0px;
}

.style-1 .nav li .submenu{
	background:#c60000;
}


.style-1 .navSelected{
	background:#c60000;
}

/*毕业季主题*/

