/*content begin*/
#content{width:1000px;background:#e5e6e7;}
*{font-family:"Microsoft YaHei",'微软雅黑';}

#news{float:right;width:800px;background:#ffffff;}
#news_head{background:#e5e6e7;padding:10px 0 10px 20px;margin-left:5px;-moz-box-shadow:5px 5px 5px #555;-webkit-box-shadow:5px 5px 5px #555; box-shadow:5px 5px 5px #555;border-radius:8px;}
#news_head>a{margin-left:10px;line-height:25px;}
#bread{float:right;font-size:12px;padding-right:30px;}
#bread a{color:#000000;line-height:25px;}
#bread a:hover {color:#fea93c;}

#title{text-align:center;font-size:16px;margin-top:50px;color:#00549c}
#info{text-align:center;margin-bottom:10px;font-size:12px;color:#00549c;margin-top:10px}
#text{padding:20px;text-align:left;border-top:solid 1px #000000;background:#ffffff;border-bottom:solid #00549c 4px;margin-bottom:20px}
#text img{max-width:800px}
#text p{font-size:15px;line-height:20px}


#sidebar{float:left;width:200px;padding-bottom:30px;border-radius:4px;}
#sidebar p{font-size:24px;height:50px;color:#00549c;padding:20px 7px 10px 20px;margin:0 3px;border-bottom:solid 2px #00549c;font-family:"Microsoft YaHei",'微软雅黑';}
#sidebar ul{margin-left:55px;margin-top:20px}
#sidebar li {height:25px;font-size:14px;letter-spacing:2px;}
#sidebar a{color:#00549c;}
#sidebar a:hover{color:#007fa5;}

/*content  end*/

