/*content begin*/
#content{width:1000px;background:#e5e6e7;}
*{font-family:"Microsoft YaHei",'微软雅黑';}

#main{float:right;width:1000px;background:#ffffff;}
#main_head{background:#e5e6e7;padding:10px 0 10px 20px;margin-left:5px;-moz-box-shadow:5px 5px 5px #555;-webkit-box-shadow:5px 5px 5px #555; box-shadow:5px 5px 5px #555;border-radius:8px;}
#main_head>a{margin-left:10px;line-height:25px;}
#bread{float:right;font-size:12px;padding-right:30px;}
#bread a{color:#000000;line-height:25px;}
#bread a:hover {color:#fea93c;}

#boxlist{padding:20px 10px;}
#boxlist p{line-height:30px;font-size:12px;border-bottom:dotted 1px #b8b8b8;padding:0 20px}
#boxlist p:hover{background:#e0e0e0}
#boxlist a{color:#5e5e5e;margin-left:20px}
#boxlist a:hover{color:#ee1111;}
.time{float:right;}



/*content  end*/

