<form method="post" class="form-x dux-form form-auto" id="form" action="{U()}">
    <div class="tab dux-tab">
        <div class="panel dux-box  active">
            <div class="panel-head">
                <div class="tab-head">
                    <strong>{$name}页面</strong>
                    <ul class="tab-nav">
                        <li class="active"><a href="#tab-1">基本信息</a>
                        </li>
                        <li><a href="#tab-2">扩展信息</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="tab-body">
                <div class="tab-panel active" id="tab-1">
                    <div class="form-group">
                        <div class="label">
                            <label>上级栏目</label>
                        </div>
                        <div class="field">
                            <select class="input" name="parent_id">
                                <option value="0">==顶级栏目==</option>
                                <!--loop{$categoryList as $vo}-->
                                <!--if{$info['parent_id'] == $vo['class_id']}-->
                                <option value="{$vo.class_id}" selected>
                                    <!--{else}-->
                                    <option value="{$vo.class_id}">
                                        <!--{/if}-->
                                        {$vo.cname}</option>
                                    <!--{/loop}-->
                            </select>
                            <div class="input-note">当前栏目的上级栏目</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="label">
                            <label>页面名称</label>
                        </div>
                        <div class="field">
                            <input type="text" class="input" id="name" name="name" size="60" datatype="s" value="{$info.name}">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="label">
                            <label>形象图</label>
                        </div>
                        <div class="field">
                            <input type="text" class="input" id="image" name="image" size="38" value="{$info.image}">
                            <a class="button bg-blue button-small  js-img-upload" data="image" id="image_upload" preview="image_preview" href="javascript:;" ><span class="icon-upload"> 上传</span></a>
                            <a class="button bg-blue button-small icon-picture-o" id="image_preview" href="javascript:;" > 预览</a>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="label">
                            <label>页面内容</label>
                        </div>
                        <div class="field">
                            <textarea class="input js-editor" id="content" name="content" rows="20" >{html_out($info.content)}</textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="label">
                            <label>栏目关键词</label>
                        </div>
                        <div class="field">
                            <input type="text" class="input" id="keywords" name="keywords" size="60" value="{$info.keywords}">
                            <div class="input-note">当前栏目的关键词</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="label">
                            <label for="sitename">栏目描述</label>
                        </div>
                        <div class="field">
                            <textarea class="input" id="description" name="description" rows="3" cols="62">{$info.description}</textarea>
                            <div class="input-note">当前栏目的描述信息</div>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <div class="label">
                            <label>栏目顺序</label>
                        </div>
                        <div class="field">
                            <input type="number" class="input" id="sequence" name="sequence" size="60" datatype="n" value="{default_data($info['sequence'],1)}">
                            <div class="input-note">栏目列表调用时的顺序，数字越小越靠前</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="label">
                            <label for="sitename">页面模板</label>
                        </div>
                        <div class="field">
                            <input type="text" class="input" id="class_tpl" name="class_tpl" size="20" datatype="*" value="{default_data($info['class_tpl'],'list')}">
                            <select class="input js-assign" target="#class_tpl">
                                <option value="">请选择</option>
                                <!--loop{$tplList as $vo}-->
                                <option value="{$vo.name}">{$vo.file}</option>
                                <!--{/loop}-->
                            </select>
                            <div class="input-note">当前页面模板</div>
                        </div>
                    </div>
                    
                    
                    
                    <div class="form-group">
                        <div class="label">
                            <label>页面状态</label>
                        </div>
                        <div class="field">
                               <?php if(!isset($info['show'])){ $info['show'] = 1; }; ?>
                                <div class="button-group button-group-small radio">
                                    <!--if{$info['show']}-->
                                    <label class="button active"><input name="show" value="1" checked="checked" type="radio">
                                    <!--{else}-->
                                    <label class="button"><input name="show" value="1" type="radio">
                                    <!--{/if}-->
                                    <span class="icon icon-check"></span> 开启</label>
                                    <!--if{!$info['show']}-->
                                    <label class="button active"><input name="show" checked="checked" value="0" type="radio">
                                    <!--{else}-->
                                    <label class="button"><input name="show" value="0" type="radio">
                                    <!--{/if}-->
                                    <span class="icon icon-times"></span> 关闭</label>
                                </div>
                                <div class="input-note">隐藏后在调用栏目列表时不显示</div>
                            </div>
                    </div>
                </div>
                <div class="tab-panel" id="tab-2">
                    <div class="form-group">
                        <div class="label">
                            <label>子标题</label>
                        </div>
                        <div class="field">
                            <input type="text" class="input" id="subname" name="subname" size="60" value="{$info.subname}">
                            <div class="input-note">扩展标题的副标题信息</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="label">
                            <label>栏目URL</label>
                        </div>
                        <div class="field">
                            <input type="text" class="input" id="urlname" name="urlname" size="60" value="{$info.urlname}">
                            <div class="input-note">设置URL规则后会生效</div>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="panel-foot">
                <div class="form-button">
                    <div id="tips"></div>
                    <input type="hidden" name="class_id" type="hidden" value="{$info.class_id}">
                    <button class="button bg-main" type="submit">保存</button>
                    <button class="button bg" type="reset">重置</button>
                </div>
            </div>
        </div>
    </div>
</form>
<script>
    Do.ready('base', function () {
        //表单综合处理
        $('#form').duxFormPage();
    }); 
</script>