<div class="panel dux-box">
    <div class="table-responsive">
        <table id="table" class="table table-hover ">
            <tbody>
                <tr>
                    <th width="100">编号</th>
                    <!--loop{$tableTh as $vo}-->
                    <th width="*">{$vo}</th>
                    <!--{/loop}-->
                    <th width="100">操作</th>
                </tr>
                <!--loop{$list as $vo}-->
                <tr>
                    <td>{$vo.data_id}</td>
                    <!--loop{$fieldList as $val}-->
                    <!--if{$val['show']}-->
                    <td><?php echo D('DuxCms/FieldData')->showListField($vo[$val['field']],$val['type'],$val['config']); ?></a>
                    <!--{/if}-->
                    </td>
                    <!--{/loop}-->
                    <td>
                        <a class="button bg-blue button-small icon-pencil" href="{U('edit',array('data_id'=>$vo['data_id'],'fieldset_id'=>$formInfo['fieldset_id']))}" title="修改"></a>
                        <a class="button bg-red button-small icon-trash-o js-del" href="javascript:;" url="{:U('del',array('fieldset_id'=>$formInfo['fieldset_id']))}" data="{$vo.data_id}" title="删除"></a>
                    </td>
                </tr>
                <!--{/loop}-->
            </tbody>
        </table>
    </div>

    <div class="panel-foot table-foot clearfix">
        {$page}
    </div>
</div>
<script>
    Do.ready('base', function () {
        $('#table').duxTable();
    });
</script>