<div class="g-ft">
	<div id="footWrap"> 
		<p><span>友情链接：</span></p>
		<p>
			<span>全国老龄工作委员会</span>
			<span>教育部离退休干部局</span>
			<span>教育部关心下一代工作委员会  </span>
			<span>中国广播网老年之声 </span>
			<span>校人力资源部等</span>
		</p>
		<p class="metafoot"><span><a href="?m=admin">管理登陆</a></span><span>总浏览次数：{$media.count}</span></p>
		<p class="metafoot"><span>All Copyrights Reserved © 电子科技大学信息与软件工程学院</span></p>
	</div>
</div>