<script src="js/dropMenu.js"></script>
<link href="css/head.css" rel="stylesheet" type="text/css">
<link href="css/navBar.css" rel="stylesheet" type="text/css">
<script type="text/javascript">
	$(document).ready(function(){
		dropMenu(".drop-menu-effect");
	});
</script>
<div id="header">
	<div id="head">
		<div id="logo">
			<a href=""></a>
		</div>
		<div id="subtitle">
			<span>离退休工作处</span>
		</div>
		<div id="search">
			<p style="float:left;"><a href="" style="">旧版入口</a>|<a href="?m=admin" style="">管理入口</a></p>
			<div id="searchKeyword">
			<table>
				<tbody><tr>
					<td>
					<form id="keyword" action="{U('Article/Search/index')}" method="get">
						<input name="m" type="hidden" value="Article">
        				<input name="c" type="hidden" value="Search">
        				<input name="a" type="hidden" value="index">
        				<input name="model" type="hidden" value="0">
						<input type="text" name="keyword" placeholder="请输入搜索关键字">
					</form>
					</td>
					<td>
						<script type="text/javascript">
							$(document).ready(function(){
								$("#e_search_button").click(function(e)
								{
									e.preventDefault();
									$("#keyword").submit();
								});
							});
						</script>
						<a id="e_search_button" class="searchIcon" href=""><img src="images/btn_search.jpg"></a>
					</td>
				</tr>
			</tbody></table>
			</div>
		</div>
	</div>
</div>

<div class="navBar">
	<div class="nav">
		<ul class="clearfix">
			<li><a class="drop-menu-effect" href="__ROOT__/"><span>首页</span></a></li>
			<!--list{app="DuxCms" label="categoryList" limit=8 parent_id=0  }-->
				<li class="drop-menu-effect">
					<a href="{$list.curl}"><span>{$list.name}</span></a>
					<ul class="submenu" style="">
						<!--clist{app="DuxCms" label="categoryList" limit=10 parent_id=$list.class_id  }-->
							<li><a href="{$clist.curl}">{$clist.name}</a></li>
						<!--{/clist}-->
					</ul>
				</li>
			<!--{/list}-->
		</ul>
	</div>
</div>